*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, ul{
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
 }
 
 li {
    list-style: none;
 }

#container{
    max-width: 1280px;
    margin: auto;
    flex-wrap: wrap;
}

header #header-top  #header-menu{
    display: flex;
    /*padding: 0 0 0 345px;*/
    align-items: center;
    flex-wrap: wrap;
} 

#header-top, ul {
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 100%;
    flex-wrap: wrap;
    
}

header #header-top{
    height: 88px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    position: relative;
    background: #ffffff;
    opacity: 0.8;
    

}

header a{
    padding: 10px 18px;
    color: #8b8383;
    font-size: 14px;
    transition: 0.3s;
    margin-left: 5px;
}

header a:hover{
    background: #f6afaf;
}

header #header-top #header-menu #login-button{
    width: 87px;
    height: 28px;
    background: #de6d6e;
    font-size: 12px;
    color: #ffffff;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    margin-left: 5px;

}

header #header-top #header-menu #login-button:hover{
    background: #f6afaf;
}

#bg{
    background-image: url(img/bn-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 590px;
}
header #cont-all{
    position: relative;
}

header   h2{
    font-size: 4vw;
    text-transform: uppercase;
    position: absolute;
    top: 67%;
    left: 28%;
    margin: 0;
    color: #ffffff;
}

header   p{
    font-size: 1.5vw;
    position: absolute;
    top: 77%;
    left: 34%;
    color: #ffffff;
    
    
}

#middle-text h5{
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    color: #545454;
    margin-top: 70px;
    margin-bottom: 20px;
}

#middle-text h6 {
   
    max-width: 380px;
    margin: auto;
    color: #545454;
    text-align: center;
}
#middle-circles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px 0px 100px 0px;
}
#middle-circles .circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #000000;
    margin: 10px;
    position: relative;
}
#middle-circles img{
    display: block;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

#middle-circles .circle-text{
    display: block;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.hidden-text{
    max-width: 120px;
}
.hidden-text p {
    position: absolute;
    top: 0px;
    text-align: center;
}
#middle-circles #circle-1{
    background-color: #4eb9f4;

}
#middle-circles #circle-1:hover{
    background: #4eb9f4;
}




/*
картинка не фдоптивна


*/